.theme-dark {
  --background-primary: #fbf1c7;
  --background-primary-alt: #ebdbb2;
  --background-secondary: #ebdbb2;
  --background-secondary-alt: #d5c4a1;
  --titlebar-background: #fbf1c7;
  --titlebar-background-focused: #ebdbb2;
  --titlebar-text-color: #3c3836;
  --background-modifier-border: #bdae93;
  --background-modifier-border-focus: #d65d0e;
  --background-modifier-border-hover: #076678;
  --background-modifier-hover: #d5c4a1;
  --background-modifier-active-hover: #bdae93;
  --background-modifier-success: #79740e;
  --background-modifier-error: #9d0006;
  --text-normal: #3c3836;
  --text-muted: #7c6f64;
  --text-faint: #3c3836;
  --text-on-accent: #fbf1c7;
  --text-selection: #d5c4a1;
  --interactive-accent: #d65d0e;
  --interactive-accent-hover: #b57614;
  --interactive-normal: #ebdbb2;
  --interactive-hover: #d5c4a1;
  --interactive-success: #79740e;
  --color-red: #9d0006;
  --color-orange: #d65d0e;
  --color-yellow: #b57614;
  --color-green: #79740e;
  --color-cyan: #b57614;
  --color-blue: #076678;
  --color-purple: #8f3f71;
  --color-pink: #9d0006;
  --h1-color: #d65d0e;
  --h2-color: #b57614;
  --h3-color: #076678;
  --h4-color: #af3a03;
}
