.theme-dark {
  --background-primary: #222222;
  --background-primary-alt: #1c1d16;
  --background-secondary: #222222;
  --background-secondary-alt: #242d1d;
  --titlebar-background: #222222;
  --titlebar-background-focused: #222222;
  --titlebar-text-color: #c2c2b0;
  --background-modifier-border: #1c1d16;
  --background-modifier-border-focus: #5f875f;
  --background-modifier-border-hover: #78824b;
  --background-modifier-hover: #242d1d;
  --background-modifier-active-hover: #383838;
  --background-modifier-success: #5f875f;
  --background-modifier-error: #685742;
  --text-normal: #c2c2b0;
  --text-muted: #8a8a7e;
  --text-faint: #c2c2b0;
  --text-on-accent: #1c1d16;
  --text-selection: #383838;
  --interactive-accent: #5f875f;
  --interactive-accent-hover: #78824b;
  --interactive-normal: #222222;
  --interactive-hover: #242d1d;
  --interactive-success: #5f875f;
  --color-red: #685742;
  --color-orange: #b36d43;
  --color-yellow: #b36d43;
  --color-green: #5f875f;
  --color-cyan: #c9a554;
  --color-blue: #78824b;
  --color-purple: #bb7744;
  --color-pink: #685742;
  --h1-color: #5f875f;
  --h2-color: #d7c483;
  --h3-color: #78824b;
  --h4-color: #b36d43;
}
