.theme-dark {
  --background-primary: #f6f1ef;
  --background-primary-alt: #ede4de;
  --background-secondary: #ede4de;
  --background-secondary-alt: #e5d9d1;
  --titlebar-background: #f6f1ef;
  --titlebar-background-focused: #ede4de;
  --titlebar-text-color: #545464;
  --background-modifier-border: #c9bab1;
  --background-modifier-border-focus: #5a7785;
  --background-modifier-border-hover: #4e8ca2;
  --background-modifier-hover: #e5d9d1;
  --background-modifier-active-hover: #c9bab1;
  --background-modifier-success: #6f894e;
  --background-modifier-error: #c84053;
  --text-normal: #545464;
  --text-muted: #716e61;
  --text-faint: #545464;
  --text-on-accent: #f6f1ef;
  --text-selection: #e5d9d1;
  --interactive-accent: #5a7785;
  --interactive-accent-hover: #cc6d00;
  --interactive-normal: #ede4de;
  --interactive-hover: #e5d9d1;
  --interactive-success: #6f894e;
  --color-red: #c84053;
  --color-orange: #5a7785;
  --color-yellow: #cc6d00;
  --color-green: #6f894e;
  --color-cyan: #cc6d00;
  --color-blue: #4e8ca2;
  --color-purple: #624c83;
  --color-pink: #c84053;
  --h1-color: #5a7785;
  --h2-color: #cc6d00;
  --h3-color: #4e8ca2;
  --h4-color: #4d699b;
}
