[user]
	email = nikola454237@gmail.com
	name = Nick M
[http]
	postBuffer = 5242888000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
