*.swap

# Ignore user configs
#.config/hypr/user-configs/*
!.config/hypr/user-configs/.gitkeep

# Ignore OMZ --- PUT IT IN INSTALL SCRIPT YA LAZY BUM!!!! ---
.config/zsh/oh-my-zsh

# ignore all extensions in vs code except matugen config

.vscode-oss/extensions/*
!.vscode-oss/extensions/matugen-them


.config/mozilla*

.config/zsh/.zsh_history
.config/zsh/.zcompdump*
.config/zsh/.bash_history

cloudyy_scripts/cloudyy-other/folio-gtk
cloudyy_scripts/cloudyy-other/folio-gtk

.config/systemd/user/

# this is private and contains credentials and stuff
#cloudyy_scripts/ivanti/
