.theme-dark {
  --background-primary: #2A2520;
  --background-primary-alt: #352F2A;
  --background-secondary: #352F2A;
  --background-secondary-alt: #4D453E;
  --titlebar-background: #2A2520;
  --titlebar-background-focused: #352F2A;
  --titlebar-text-color: #ECE1D7;
  --background-modifier-border: #4D453E;
  --background-modifier-border-focus: #99D59D;
  --background-modifier-border-hover: #78997A;
  --background-modifier-hover: #4D453E;
  --background-modifier-active-hover: #4D453E;
  --background-modifier-success: #78997A;
  --background-modifier-error: #B65C60;
  --text-normal: #ECE1D7;
  --text-muted: #A38D78;
  --text-faint: #A38D78;
  --text-on-accent: #2A2520;
  --text-selection: #4D453E;
  --interactive-accent: #99D59D;
  --interactive-accent-hover: #78997A;
  --interactive-normal: #352F2A;
  --interactive-hover: #4D453E;
  --interactive-success: #78997A;
  --color-red: #F17C64;
  --color-orange: #E49B5D;
  --color-yellow: #EBC06D;
  --color-green: #99D59D;
  --color-cyan: #86A3A3;
  --color-blue: #9AACCE;
  --color-purple: #CE9BCB;
  --color-pink: #CE9BCB;
  --h1-color: #99D59D;
  --h2-color: #EBC06D;
  --h3-color: #9AACCE;
  --h4-color: #CE9BCB;
}
