/* ~/.config/matugen/templates/yad-volume.css */

/* Use Matugen keywords to grab colors */
window {
    background-color: #0e1416;
    border: 2px solid #83d2e5;
    border-radius: 12px;
}

scale trough {
    margin: 10px 0;
    background-color: #3f484b;
    border-radius: 10px;
    min-height: 10px;
}

scale highlight {
    background-color: #83d2e5;
    border-radius: 10px;
    min-height: 10px;
}

label {
    color: #dee3e5;
    font-weight: bold;
    font-size: 16px;
}

button {
    background: none;
    box-shadow: none;
    color: #83d2e5;
}
