.theme-dark {
  --background-primary: #282828;
  --background-primary-alt: #3c3836;
  --background-secondary: #3c3836;
  --background-secondary-alt: #504945;
  --titlebar-background: #282828;
  --titlebar-background-focused: #3c3836;
  --titlebar-text-color: #ebdbb2;
  --background-modifier-border: #665c54;
  --background-modifier-border-focus: #fe8019;
  --background-modifier-border-hover: #83a598;
  --background-modifier-hover: #504945;
  --background-modifier-active-hover: #665c54;
  --background-modifier-success: #b8bb26;
  --background-modifier-error: #fb4934;
  --text-normal: #ebdbb2;
  --text-muted: #a89984;
  --text-faint: #ebdbb2;
  --text-on-accent: #282828;
  --text-selection: #504945;
  --interactive-accent: #fe8019;
  --interactive-accent-hover: #fabd2f;
  --interactive-normal: #3c3836;
  --interactive-hover: #504945;
  --interactive-success: #b8bb26;
  --color-red: #fb4934;
  --color-orange: #fe8019;
  --color-yellow: #fabd2f;
  --color-green: #b8bb26;
  --color-cyan: #fabd2f;
  --color-blue: #83a598;
  --color-purple: #d3869b;
  --color-pink: #fb4934;
  --h1-color: #fe8019;
  --h2-color: #fabd2f;
  --h3-color: #83a598;
  --h4-color: #d65d0e;
}
