.theme-dark {
  --background-primary: #191724;
  --background-primary-alt: #1f1d2e;
  --background-secondary: #1f1d2e;
  --background-secondary-alt: #26233a;
  --titlebar-background: #191724;
  --titlebar-background-focused: #1f1d2e;
  --titlebar-text-color: #e0def4;
  --background-modifier-border: #403d52;
  --background-modifier-border-focus: #eb6f92;
  --background-modifier-border-hover: #9ccfd8;
  --background-modifier-hover: #26233a;
  --background-modifier-active-hover: #403d52;
  --background-modifier-success: #31748f;
  --background-modifier-error: #eb6f92;
  --text-normal: #e0def4;
  --text-muted: #908caa;
  --text-faint: #6e6a86;
  --text-on-accent: #191724;
  --text-selection: #2a283e;
  --interactive-accent: #eb6f92;
  --interactive-accent-hover: #c4a7e7;
  --interactive-normal: #1f1d2e;
  --interactive-hover: #26233a;
  --interactive-success: #31748f;
  --color-red: #eb6f92;
  --color-orange: #f6c177;
  --color-yellow: #f6c177;
  --color-green: #31748f;
  --color-cyan: #c4a7e7;
  --color-blue: #9ccfd8;
  --color-purple: #c4a7e7;
  --color-pink: #eb6f92;
  --h1-color: #eb6f92;
  --h2-color: #c4a7e7;
  --h3-color: #9ccfd8;
  --h4-color: #ebbcba;
}
