.theme-dark {
  --background-primary: #2E3440;
  --background-primary-alt: #3B4252;
  --background-secondary: #3B4252;
  --background-secondary-alt: #434C5E;
  --titlebar-background: #2E3440;
  --titlebar-background-focused: #3B4252;
  --titlebar-text-color: #ECEFF4;
  --background-modifier-border: #4C566A;
  --background-modifier-border-focus: #88C0D0;
  --background-modifier-border-hover: #81A1C1;
  --background-modifier-hover: #434C5E;
  --background-modifier-active-hover: #4C566A;
  --background-modifier-success: #A3BE8C;
  --background-modifier-error: #BF616A;
  --text-normal: #ECEFF4;
  --text-muted: #E5E9F0;
  --text-faint: #D8DEE9;
  --text-on-accent: #2E3440;
  --text-selection: #434C5E;
  --interactive-accent: #88C0D0;
  --interactive-accent-hover: #8FBCBB;
  --interactive-normal: #3B4252;
  --interactive-hover: #434C5E;
  --interactive-success: #A3BE8C;
  --color-red: #BF616A;
  --color-orange: #D08770;
  --color-yellow: #EBCB8B;
  --color-green: #A3BE8C;
  --color-cyan: #8FBCBB;
  --color-blue: #81A1C1;
  --color-purple: #B48EAD;
  --color-pink: #BF616A;
  --h1-color: #88C0D0;
  --h2-color: #8FBCBB;
  --h3-color: #81A1C1;
  --h4-color: #5E81AC;
}
