/* Matugen SwayNC Colors */
@define-color cc-bg #fff8f8;
@define-color surface #faeaee;

@define-color text-primary #21191c;
@define-color text-secondary #514348;

@define-color primary #8a4a65;
@define-color on-primary #ffffff;

@define-color button-bg #f4e4e8;
@define-color error #ba1a1a;

/* Dynamic Shadows & Borders */
@define-color shadow #000000;

/* CRITICAL: This flips from "White" (Dark Mode) to "Grey" (Light Mode) 
   so your borders are always visible */
@define-color rim-light #d5c2c7;
