.theme-dark {
  --background-primary: #333c43;
  --background-primary-alt: #3a464c;
  --background-secondary: #3a464c;
  --background-secondary-alt: #434f55;
  --titlebar-background: #333c43;
  --titlebar-background-focused: #3a464c;
  --titlebar-text-color: #d3c6aa;
  --background-modifier-border: #4d5960;
  --background-modifier-border-focus: #a7c080;
  --background-modifier-border-hover: #7fbbb3;
  --background-modifier-hover: #434f55;
  --background-modifier-active-hover: #4d5960;
  --background-modifier-success: #a7c080;
  --background-modifier-error: #e67e80;
  --text-normal: #d3c6aa;
  --text-muted: #859289;
  --text-faint: #d3c6aa;
  --text-on-accent: #333c43;
  --text-selection: #434f55;
  --interactive-accent: #a7c080;
  --interactive-accent-hover: #7fbbb3;
  --interactive-normal: #3a464c;
  --interactive-hover: #434f55;
  --interactive-success: #a7c080;
  --color-red: #e67e80;
  --color-orange: #e69875;
  --color-yellow: #dbbc7f;
  --color-green: #a7c080;
  --color-cyan: #7fbbb3;
  --color-blue: #7fbbb3;
  --color-purple: #d699b6;
  --color-pink: #e67e80;
  --h1-color: #a7c080;
  --h2-color: #7fbbb3;
  --h3-color: #7fbbb3;
  --h4-color: #83c092;
}
