[Desktop Entry]
Name=Cloud Center
Comment=Universal control center for Hyprland
Exec=python3 /home/%u/cloudyy_scripts/cloudyy-other/cloud-center/cloud-center.py
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings;System;
StartupWMClass=cloud-center
StartupNotify=true
