.theme-dark {
  --background-primary: #f4f9ff;
  --background-primary-alt: #e8f3fe;
  --background-secondary: #e8f3fe;
  --background-secondary-alt: #d8e5f7;
  --titlebar-background: #f4f9ff;
  --titlebar-background-focused: #e8f3fe;
  --titlebar-text-color: #2a3d45;
  --background-modifier-border: #aac3cf;
  --background-modifier-border-focus: #0f7a80;
  --background-modifier-border-hover: #22749c;
  --background-modifier-hover: #d8e5f7;
  --background-modifier-active-hover: #aac3cf;
  --background-modifier-success: #327a4b;
  --background-modifier-error: #bb3d56;
  --text-normal: #2a3d45;
  --text-muted: #5b7282;
  --text-faint: #2a3d45;
  --text-on-accent: #f4f9ff;
  --text-selection: #d8e5f7;
  --interactive-accent: #0f7a80;
  --interactive-accent-hover: #976008;
  --interactive-normal: #e8f3fe;
  --interactive-hover: #d8e5f7;
  --interactive-success: #327a4b;
  --color-red: #bb3d56;
  --color-orange: #0f7a80;
  --color-yellow: #976008;
  --color-green: #327a4b;
  --color-cyan: #976008;
  --color-blue: #22749c;
  --color-purple: #6a5bb8;
  --color-pink: #bb3d56;
  --h1-color: #0f7a80;
  --h2-color: #976008;
  --h3-color: #22749c;
  --h4-color: #2f6fb0;
}
