[Desktop Entry]
Type=Application
Name=AIChat
Comment=Open WebUI for Local AI
# Change 'firefox' to 'chromium' or 'google-chrome-stable' if you prefer
Exec=firefoxpwa site launch 01KJ95M10ZZ3KV0ZENF0EJ3XMY
Icon=/home/schultz/.local/share/icons/openwebui.png
Terminal=false
Categories=Network;ArtificialIntelligence;
Keywords=AI;Chat;DeepSeek;Ollama;
