[Desktop Entry]
Name=Reentry - A Space Flight Simulator
Comment=Play this game on Steam
Exec=steam steam://rungameid/882140
Icon=steam_icon_882140
Terminal=false
Type=Application
Categories=Game;
