[Desktop Entry]
Version=1.0
Type=Application
Name=Rusty Keys
Comment=Mechanical keyboard sound daemon
Exec=bash -c "~/cloudyy_scripts/cloudyy-other/rusty_keys"
Icon=~/.local/share/icons/rustykeys.png
Terminal=false
Categories=Utility;
StartupNotify=false
StartupWMClass=org.cloudyy.rustykeys
X-GNOME-WMClass=org.cloudyy.rustykeys
