[Desktop Entry]
Name=The Forest
Comment=Play this game on Steam
Exec=steam steam://rungameid/242760
Icon=steam_icon_242760
Terminal=false
Type=Application
Categories=Game;
