[Desktop Entry]
Name=tModLoader
Comment=Play this game on Steam
Exec=steam steam://rungameid/1281930
Icon=steam_icon_1281930
Terminal=false
Type=Application
Categories=Game;
