
.theme-dark {
	--accent-h:calc({{colors.primary.dark.hue}}/255*360);
	--accent-s:calc({{colors.primary.dark.saturation}}/255*100%);
	--accent-l:calc({{colors.primary.dark.lightness}}/255*100%);

  --text-normal:{{colors.on_surface.dark.hex}};
  --text-muted:{{colors.on_surface_variant.dark.hex}};
  --text-faint:{{colors.outline.dark.hex}};

  --background-primary:{{colors.surface.dark.hex}}; /* editor and right ribbon */
  --background-secondary:{{colors.surface_dim.dark.hex}}; /* left ribbon */ 
  --background-modifier-hover:{{colors.secondary_container.dark.hex}};
  --background-modifier-active-hover:{{colors.secondary.dark.hex}};
  --background-modifier-message:{{colors.surface_dim.dark.hex}};
  --background-modifier-form-field:{{colors.primary_container.dark.hex}};

  --ribbon-background:{{colors.surface.dark.hex}};
  --divider-color:{{colors.secondary_container.dark.hex}};
  --scrollbar-thumb-bg:{{colors.on_secondary_container.dark.hex}};
  --status-bar-border-color:{{colors.secondary_container.dark.hex}};
  --status-bar-background:{{colors.surface.dark.hex}};
  --titlebar-background:{{colors.surface.dark.hex}};
  --titlebar-text-color:{{colors.on_surface.dark.hex}};

  --nav-item-color:{{colors.on_surface_variant.dark.hex}};
  --nav-item-color-active:{{colors.on_primary_container.dark.hex}};
  --nav-item-background-active:{{colors.primary_container.dark.hex}};
  --nav-item-color-hover:{{colors.on_secondary_container.dark.hex}};
  --nav-item-background-hover:{{colors.secondary_container.dark.hex}};

  --tab-background-active:{{colors.primary_container.dark.hex}};
  --tab-text-color-active:{{colors.on_primary_container.dark.hex}};
  --tab-text-color:{{colors.on_surface_variant.dark.hex}};

  --icon-color:{{colors.on_surface.dark.hex}};

  --h1-color:{{colors.primary.dark.hex}};
  --h2-color: color-mix(in srgb, {{colors.primary.dark.hex}}, {{colors.tertiary.dark.hex}});
  --h3-color:{{colors.tertiary.dark.hex}};
  --h4-color: color-mix(in srgb, {{colors.primary.dark.hex}}, {{colors.secondary.dark.hex}});
  --h5-color:{{colors.secondary.dark.hex}};
  --h6-color: color-mix(in srgb, {{colors.tertiary.dark.hex}}, {{colors.secondary.dark.hex}});
}

/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:{{colors.on_surface.dark.hex}};
  background:{{colors.surface.dark.hex}};
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:{{colors.on_surface.dark.hex}};
  background:{{colors.surface.dark.hex}};
}

.theme-dark .workspace-tab-header-container{
  background:{{colors.surface.dark.hex}};
}

.home, .Home {
	--accent-h:calc({{colors.primary.dark.hue}}/255*360);
	--accent-s:calc({{colors.primary.dark.saturation}}/255*100%);
	--accent-l:calc({{colors.primary.dark.lightness}}/255*100%);

  --text-normal:{{colors.on_surface.dark.hex}};
  --text-muted:{{colors.on_surface_variant.dark.hex}};
  --text-faint:{{colors.outline.dark.hex}};

  --background-primary:{{colors.surface.dark.hex}}; /* editor and right ribbon */
  --background-secondary:{{colors.surface_dim.dark.hex}}; /* left ribbon */ 
  --background-modifier-hover:{{colors.secondary_container.dark.hex}};
  --background-modifier-active-hover:{{colors.secondary.dark.hex}};
  --background-modifier-message:{{colors.surface_dim.dark.hex}};
  --background-modifier-form-field:{{colors.primary_container.dark.hex}};

  --ribbon-background:{{colors.surface.dark.hex}};
  --divider-color:{{colors.secondary_container.dark.hex}};
  --scrollbar-thumb-bg:{{colors.on_secondary_container.dark.hex}};
  --status-bar-border-color:{{colors.secondary_container.dark.hex}};
  --status-bar-background:{{colors.surface.dark.hex}};
  --titlebar-background:{{colors.surface.dark.hex}};
  --titlebar-text-color:{{colors.on_surface.dark.hex}};

  --nav-item-color:{{colors.on_surface_variant.dark.hex}};
  --nav-item-color-active:{{colors.on_primary_container.dark.hex}};
  --nav-item-background-active:{{colors.primary_container.dark.hex}};
  --nav-item-color-hover:{{colors.on_secondary_container.dark.hex}};
  --nav-item-background-hover:{{colors.secondary_container.dark.hex}};

  --tab-background-active:{{colors.primary_container.dark.hex}};
  --tab-text-color-active:{{colors.on_primary_container.dark.hex}};
  --tab-text-color:{{colors.on_surface_variant.dark.hex}};

  --icon-color:{{colors.on_surface.dark.hex}};

  --h1-color:{{colors.primary.dark.hex}};
  --h2-color: color-mix(in srgb, {{colors.primary.dark.hex}}, {{colors.tertiary.dark.hex}});
  --h3-color:{{colors.tertiary.dark.hex}};
  --h4-color: color-mix(in srgb, {{colors.primary.dark.hex}}, {{colors.secondary.dark.hex}});
  --h5-color:{{colors.secondary.dark.hex}};
  --h6-color: color-mix(in srgb, {{colors.tertiary.dark.hex}}, {{colors.secondary.dark.hex}});
    
    
  }
  
.home, .Home {
  --highlight: {{colors.primary.dark.hex}};
  --primary: {{colors.tertiary.dark.hex}};
  --dark: {{colors.tertiary.dark.hex}};
}

.home :is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--primary);
  text-align: center;
  font-size: 60px;
  font-family: "Courier New";
  padding: 0 !important;
}
.home :is(h2, .HyperMD-header.HyperMD-header-2) {
  color: var(--highlight);
  text-align: center;
  font-size: 30px;
  font-family: "Courier New";
  font-style: italic;
  padding: 0 !important;
}
.home :is(h3, .HyperMD-header.HyperMD-header-3) {
  color: var(--primary);
  text-align: center;

  font-size: 32px;
  font-family: "Courier New";
  padding-top: 0;
}
.home :is(h4, .HyperMD-header.HyperMD-header-4) {
  background-color: var(--primary);
  color: var(--dark);
  /* border-color: var(--primary); */
  /* font-family: "Courier New", monospace; */
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 20px;
  width: fit-content;
  padding-left: 6px;
  padding-right: 6px;
  /* border: solid; */
  border-radius: 8px;
  /* border-width: 2px; */
  word-wrap: normal;
}


